:root{
  --color-homeworld: #3e53c1;
  --color-imperial: #6d1fe3;
  --color-la-luna: #ffffff;
  --color-aluminium: #c8c8c8;
  --color-cathedral: #808080;
  --color-maize: #ffe666;
  --color-leaf: #62d989;
  --color-kelp: #335e66;
  --color-carbon: #404040;
  --color-batman: #202020;
  --color-future: #dc4b4a;
}

